.markup {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  color: $color-grey;
  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    width: 20px;
    height: 1px;
    background-color: $color-grey;
  }
}

.padding {
  padding: 60px 0;
}

.title {
  margin-bottom: 20px;
  font-family: "IBMPlexSans", sans-serif;
  font-size: 35px;
  line-height: 130%;
  color: $color-black;
  span {
    color: $color-yellow;
  }
  @media (min-width: $md2+px) {
    max-width: 520px;
  }
}

.button {
  padding: 12px 19px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: $color-black;
  background-color: $color-white;
  transition: background-color 0.3s;
  &:hover {
    background-color: $color-yellow;
  }
}

.animation {
  transition: color 0.3s, text-decoration 0.3s;
  &:hover {
    color: $color-yellow;
    text-decoration: line-through;
  }
}

.social {
  display: flex;
  padding: 30px 0;
  @media (min-width: $md2+px) {
    width: 50%;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.social__link {
  font-size: 20px;
  color: $color-white;
  transition: color 0.3s;
  &:hover {
    color: $color-yellow;
  }
}