.skills {
  p {
    margin-bottom: 50px;
  }
}


.skills__title {
  color: $color-black;
}

.skills__list {
  max-width: 640px;
}

.skills__item {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 10px solid $color-grey;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.skills__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  &::after {
    position: absolute;
    bottom: -15px;
    content: "";
    width: 100%;
    height: 10px;
    background-color: $color-yellow;
  }
}

.skills__caption {
  font-family: "IBMPlexSans", sans-serif;
  font-size: 20px;
}

.skills__level {
  width: 100%;
  background-color: $color-grey;
}

.skills__level-real {
  width: 100%;
  position: relative;
  text-align: right;
  line-height: 10px; 
  background-color: $color-yellow;
}